*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

/* navbar css */
.container1{
    background-color: black;
    height: 100vh;
    width: 99vw;
}
.row1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}
.btn-div button{
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: black;
    border-color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
}
.menu-bar{
    background-color: black;
}
.menu-bar ul{
    list-style: none;
    /* display: flex; */
}
.icon{
    background-color: gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.menu-bar a{
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    padding: 0 10px;
}
.menu-bar a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -20px;
    transition: 0.3s;

}
.menu-bar a:hover:after{
    width: 100%;
}
.menu-bar ul li :hover{
    color: orange;
}
/* .menu-bar ul li :active{
    color: green;
} */
/* .menu-bar ul li :visited{
    color: red;
} */
.icon :hover{
    color: orange;
}
/* navbar css */


.row2{
    background-color: rgba(128, 128, 128, 0.144);
    height: 80vh;
    
}
  .right img{
    height: 80vh;
    width: 100%;
} 
.left button{
    width: 150px;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.144);
    border-color: orange;
    color: orange;
    margin-top: 3rem;
} 
.left button:hover{
    background-color: orange;
    color: whitesmoke;
}

.container2{
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* background-color: aquamarine; */
}
.left-div{
    padding: 2rem;
}
.left-div h1{
    font-family: 'Playfair Display', serif;

}

.left-div p{
    color: gray;
}
.circle{
    background-color: rgba(255, 166, 0, 0.76);
    border-radius: 50%;
    height: 270px;
    width: 270px;
}
.right-div{
    padding: 2rem;
}
.right-div p{
    color: gray;
}
.right-div h1{
    font-family: 'Playfair Display', serif;
    
}
.last-left h3{
    color: orange;
    
} 
.last-left h6{
    color: gray;
} 



.card1{
    background-image: url("https://preview.colorlib.com/theme/lawyer/img/practice/x1.png.pagespeed.ic.7Z7hUdCVsN.webp");
    background-size: cover;
    margin: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card2{
    background-image: url("https://preview.colorlib.com/theme/lawyer/img/practice/x2.png.pagespeed.ic.hLJJB0v_fI.webp");
    background-size: cover;
    margin: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card3{
    background-image: url("https://preview.colorlib.com/theme/lawyer/img/practice/x3.png.pagespeed.ic.zi0vdVpjpd.webp");
    background-size: cover;
    margin: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card4{
    background-image: url("https://preview.colorlib.com/theme/lawyer/img/practice/x4.png.pagespeed.ic.Z1zOU3RXnJ.webp");
    background-size: cover;
    margin: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle h3{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: bold;
}
.middle p{
    color: gray;
}
.icon1{
    color: orange;
}
.container3{
    margin-top: 5rem;
    margin-bottom: 5rem;
} 
.container4{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.middle1 h3{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: bold;
}
.middle1 p{
    color: gray;
}
.card-div h3{
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
}
.card-div h6{
    color: gray;
    margin-top: 1rem;
}
.card-div .icon-icon{
    color: orangered;
    margin-top: 1rem;
}
.container6{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.form-div .msg{
    margin-top: 2rem;
    /* border: none; */
    width: 500px;
}
.form-div .name , .email {
    width: 250px;
    margin-top: 2rem;
}
.form-div .mob_no , .date {
    width: 250px;
    margin-top: 1rem;
}
.form-div .btn-last{
    width: 500px;
    color: whitesmoke;
    background-color: orange;
    margin-top: 1rem;
    padding: 0.5rem;
}
.form-div p{
    color: gray;
}
.form-div h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}